<div class="page">
    <div class="page_content">
        <div class="page_block">
            <header class="header">
                <div class="row">
                    <div class="col-3">
                        {{>logo }}
                    </div>

                    <nav class="header_nav col-9">
                        <div class="header_nav_right">
                            {{>nav list=header }}
                            {{!-- {{>nav list=header isVertical=true }} --}}
                        </div>
                    </nav>

                </div>

            </header>
            {{>divider }}
        </div>

        <div class="page_block">
            <div class="hero">
                {{#with hero}}
                {{>hero title=title text=text }}
                <a class="button" href="{{button.url}}">{{button.text}}</a>
                {{/with}}
            </div>
        </div>

        <div class="page_block">
            <div class="row g-4">
                {{#each preview}}
                <div class="col-6">
                    {{> cardPreview data=this}}
                </div>
                {{/each}}
            </div>
        </div>

        <div class="page_block">
            <div class="list_header">
                <div class="row">
                    <div class="col-6">
                        <h2 class="list_title">List of types</h2>
                    </div>

                    <div class="col-6">
                        <div class="category_list">
                            {{#each categories}}
                            <button class="category_button">{{text}}</button>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="page_block">
            <main class="main">
                <div class="row">
                    <div class="col-12">
                        <div class="list_header">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="list_title">List of posts</h2>
                                </div>

                                <div class="col-5">
                                    <div class="category_list">
                                        {{#each categories}}
                                        <button class="category_button">{{text}}</button>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list">
                            {{!-- <div class="post">
                                <strong class="post_title"></strong>
                                <div class="post_info">dgsdg <span class="post_author">1</span></div>
                                <p class="post_description">text</p>
                                <a href="#">Continie reading</a>
                            </div> --}}
                            {{#each news}}
{{> cardPost data=this }}
                            
                            {{/each}}
                            
                            List of news</div>



                        <aside class="list_aside">list menu</aside>
                    </div>
                </div>
            </main>
        </div>



        <div class="page_block">
            {{>divider }}
            <footer>
                <div class="row footer">
                    <div class="col-3">
                        {{>logo }}
                        <span class="footer_coptright">Copyright 2023-24</span>
                    </div>
                    {{#each footer}}
                    <div class="col-3">
                        <span class="footer_title">{{title}}</span>
                        {{>nav list=links isVertical=true }}
                    </div>
                    {{/each}}

                </div>
            </footer>
        </div>
    </div>